<div class="container">
  <div class="heading_container">
    <h2>All Courses</h2>
  </div>
  <div class="courses_container">
    <div class="course">
      <h3 style="margin: 40px 0px;">Angular Course</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero delectus aut similique, itaque ratione.</p>
      <button>View Details</button>
    </div>
    <div class="course">
      <h3 style="margin: 40px 0px;">UX Design Course</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero delectus aut similique, itaque ratione.</p>
      <button>View Details</button>
    </div>
    <div class="course">
      <h3 style="margin: 40px 0px;">Advance UX Course</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero delectus aut similique, itaque ratione.</p>
      <button>View Details</button>
    </div>
</div>
